<!-- views/feats-entry -->
<!DOCTYPE html>
<html>
<head>
	<title>Feats Entry Form</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/entries.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        jQuery(function() {
            $('#msgBoard').hide();

            $('.num').keypress(function(evt) {
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    evt.preventDefault();
                }
                return true;
            });

            if ("<%- error %>" != "") {
                $('#msgBoard').show();
                $('#msgBoard').html("<%- error %>");
            } else if ("<%- message %>" != "") {
                $('#msgBoard').show();
                $('#msgBoard').html("<%- message %>");
            }

            $('#featType').on('blur', function() {
                var sendData = $(this).val();
                if (sendData != "") {
                    $.post("/feats-selection", {data : sendData}, function(res) {
                        $("#details").html(res);
                    });
                }
            });

            $('#writeFeats').on('click', function(){
                var featsData = $('#featsEntryForm').serializeArray();                
                if ($('#featName').val() == "") {
                    alert("You must enter a name for the feat!");

                } else {
                    $.post("/feats-entry", {data : featsData}, function(res){
                        window.location.href = res.response;
                    });
                }
            });
        });
    </script>
</head>
<body>
	<div id="container" class="container">
		<div class="page-header text-center">
        	<h1>3.5 DND Feats Entry Form</h1>
       		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/main" class="btn btn-default btn-sm">Back</a>
    	</div>

    	<div class="row">

    		<div class="col-sm-12">
    			<div class="well">
    				<h3>DO NOT USE UNLESS YOU HAVE BEEN CONTACTED BY JOE!</h3>
                    <ul>
                        <li>For PreReqs seperate each feat by a single comma only. i.e. ("Power Attack,Cleave,Great Cleave")</li>

                        <li>If the feat is class specific, in the PreReq section enter that in as "class-className" i.e. "class-fighter" follow this format for all special PreReqs, i.e. "BAB-5"</li>
                    </ul>
                    <button id='writeFeats' type='button' class='btn btn-warning btn-md'>Submit Feat</button>

                     <!-- ======== Insert Message Div HERE ======== -->

                    <form id="featsEntryForm">
                        <table id="featHeader">
                            <tr>
                                <td>
                                    <label for='featName'>Feat Name: </label>
                                    <input id="featName" type='text' class='form-control' name='featName' size='15'>
                                </td>
                                <td>
                                    <label for='featPre'>Prerequisites: </label>
                                    <textarea class='form-control' name='featPre' rows='4' cols='6'></textarea>
                                </td>
                                <td>
                                    <label for="featType">Bonus Type (if any):</label>
                                    <select id="featType" class='form-control' name='featType'>
                                        <option value="">Select a type</option>
                                        <option value='META'>Meta</option>
                                        <option value='SPLABL'>Spell Ability</option>
                                        <option value='AOO'>Attacks of Opportunity</option>
                                        <option value='SKILL'>Skill</option>
                                        <option value='STAT'>Stat</option>
                                        <option value='AC'>AC</option>
                                        <option value='HP'>HP</option>
                                        <option value='BAB'>Attack Bonus</option>
                                        <option value='NUMATTK'>Number of Attacks</option>
                                        <option value='INIT'>Initiative</option>
                                        <option value='LVLCHK'>Level Check</option>
                                        <option value='PROF'>Proficiency</option>
                                        <option value='BONUSATTR'>Attribute for Bonus</option>
                                        <option value='CLASS'>Class Feature</option>
                                        <option value='DR'>DR</option>
                                        <option value='WPNDMG'>Weapon Damage</option>
                                        <option value='ARMOR'>Armor Bonus</option>
                                        <option value='PSI'>Psionics (WIP)</option>
                                        <option value='RESIST'>Resistance</option>
                                        <option value='XTRA'>Extra Magic Item Space</option>
                                        <option value='HD'>Hit Dice</option>
                                        <option value='IMMUNE'>Immunity</option>
                                        <option value='CRITRANGE'>Crit Range</option>
                                        <option value='CRITMOD'>Crit Modifier</option>
                                        <option value='MOVE'>Move Speed</option>
                                        <option value='MOVESKILL'>Move Ability</option>
                                        <option value='OTHER'>Other</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="book">Book: </label>
                                    <%- books %>
                                    <label for="page">Page: </label>
                                    <input id="page" type='text' class='form-control num' name='page' size=4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="short">Short Description: </label>
                                    <input id="short" type='text' class='form-control' name='short' size='15'>
                                </td>
                                <td>
                                    <label for="long">Long Description: </label>
                                    <textarea id="long" class='form-control' name='long' rows='10' cols='30'></textarea>
                                </td>
                            </tr>
                        </table>
                        <br /><br />
                        <div id="details"></div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
	</div>
</body>
</html>